<div class="{style.wrap} x-view-item-focused" tabindex="-1">
  <a class="{style.inner}" href="edash/{statement.getUrlString}"
     target="_blank"
     data-savedtabindex-dataview-1044="none"
     tabindex="-1"
     data-tabindexsaved="true">

    <div class="{style.thumbIcon}"></div>
    <div class="{style.thumbTitleContainer}">
      <div class="{style.thumbTitle}">{statement.getTitle}</div>
      <div class="{style.thumbTitleSmall}">Uploaded: {statement.getUploaded}</div>
    </div>
    <div class="{style.thumbDownload}"></div>
  </a>
</div>